body {
  margin: 0;
  padding: 0;
  font-family: universal-sans, sans-serif;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  z-index: 10;
  background-color: #eddcb0;
  margin: 0;
  padding: 0;
  font: 14px universal-sans, sans-serif;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #e2e3e3;
  background-color: black;
  cursor: default;
  border-radius: 2px;
  font-size: 12px;
  padding: 7px 12px;
  margin-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.tm {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  white-space: nowrap;
  opacity: 0;
  animation: fade 21s infinite;
}

.get_a_trade {
  animation-delay: 0s;
}

.learn_more {
  animation-delay: 7s;
}

.inventory {
  animation-delay: 14s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.btn {
  width: 10px;
  height: 10px;
  background-color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn_container {
  position: absolute;
  top: 40%;
  right: 2%;
  display: flex;
  gap: 5px;
}

.active_1,
.active_2,
.active_3 {
  background-color: black;
  animation: change 20s infinite alternate;
}

.active_1 {
  animation-delay: 0s;
}

.active_2 {
  animation-delay: 3s;
}

.active_3 {
  animation-delay: 6s;
}

@keyframes change {
  from {
    background: black;
  }

  to {
    background: gray;
  }
}

.model-y {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slider {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  opacity: 0;
  animation: view 20s infinite alternate;
}

.img-1 {
  animation-delay: 0s;
}

.img-2 {
  animation-delay: 10s;
}

.img-3 {
  animation-delay: 20s;
}

@keyframes view {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}



.logo-container {
  position: absolute;
  top: 4%;
  left: 2%;
}

@font-face {
  font-family: TESLA;
  src: url(../TESLA.ttf);
}

.logo {
  font-family: TESLA, sans-serif;
  color: #ffffff;
  font-weight: lighter;
}

.order-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  top: 30%;
  left: 30%;
}

.order {
  background-color: #3d6ae1;
  color: white;
  font-size: 14px;
  text-wrap: nowrap;
  text-align: center;
  border: none;
  width: 95px;
  height: 20px;
  box-sizing: content-box;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 13px 50px;
  margin-left: 0;
  border-radius: 5px;
  cursor: grab;
}

.compare {
  background-color: white;
  color: #000;
  width: 95px;
  height: 20px;
  font-size: 14px;
  text-wrap: nowrap;
  text-align: center;
  padding: 13px 50px;
  margin-left: 0;
  border: none;
  box-sizing: content-box;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  cursor: grab;
}

.btn-slide {
  position: absolute;
  display: flex;
  z-index: 3;
  gap: 10px;
  top: 95%;
  left: 50%;
}

.butt {
  background-color: #000;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  align-items: center;
  object-fit: cover;
}

button img {
  width: 900px;
  height: 900px;
}

.btn-1 img,
.btn-2 img,
.btn-3 img {
  display: none;
}


.btn-1:focus img,
.btn-2:focus img,
.btn-3:focus img {
  display: block;
}

@keyframes swipe {
  from {
    background: #ffffff;
  }

  to {
    background: gray;
  }
}

.btn-1 {
  animation-delay: 0s;
}

.btn-2 {
  animation-delay: 10s;
}

.btn-3 {
  animation-delay: 20s;
}

.btn-1:hover {
  background-color: gray;
}

.btn-2:hover {
  background-color: gray;
}

.btn-3:hover {
  background-color: gray;
}