body {
  margin: 0;
  padding: 0;
  font-family: universal-sans, sans-serif;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #eddcb0;
  margin: 0;
  padding: 0;
  font: 14px universal-sans, sans-serif;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #e2e3e3;
  background-color: black;
  cursor: default;
  border-radius: 2px;
  font-size: 12px;
  padding: 7px 12px;
  margin-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.tm {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  animation: fade 20s infinite;
}
.get_a_trade {
  animation-delay: 0s;
}
.learn_more {
  animation-delay: 10s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
button {
  width: 12px;
  height: 12px;
  background-color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.btn_container {
  position: absolute;
  top: 35%;
  right: 2%;
  display: flex;
  gap: 5px;
}
.btn_1,
.btn_active {
  background-color: black;
  animation: change 20s infinite alternate;
}
.btn_1 {
  animation-delay: 0s;
}
.btn_active {
  animation-delay: 3s;
}
@keyframes change {
  from {
    background: black;
  }
  to {
    background: gray;
  }
}
.slider {
  margin-top: 42px;
  width: 100%;
  height: 100%;
  align-items: center;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-50% 50%);
  opacity: 0;
  animation: view 20s linear infinite alternate;
}
.img-1 {
  animation-delay: 0s;
}
.img-2 {
  animation-delay: 10s;
}
.img-3 {
  animation-delay: 20s;
}

@keyframes view {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  align-items: baseline;
  box-sizing: content-box;
}
.logo-container {
  position: absolute;
  top: 10%;
  left: 2%;
}
@font-face {
  font-family: "TESLA";
  src: url(..TESLA.ttf);
}
.logo {
  font-family: "TESLA", sans-serif;
  font-size: 30px;
  color: black;
}
.btn-slide {
  position: absolute;
  display: flex;
  z-index: 3;
  gap: 30px;
  top: 95%;
  left: 50%;
}

.btn-1:hover {
  background-color: gray;
}

.btn-2:hover {
  background-color: gray;
}
.btn-3:hover {
  background-color: gray;
}
